#############
## Idea
#############
target/
.idea/
.idea
.repository/
*.iml
*.iws
*.info
*.properties

/8.Games/src/MinesweeperGame.java
/out/
/CodeGymPlugin.properties
/Instruction.png
/out.log
/out.log.*