#############
## Idea
#############
target/
.idea/
.idea
.repository/
*.iml
*.iws
*.info
*.properties

/1.JavaSyntax/
/2.JavaCore/

/out/
/CodeGymPlugin.properties
/Instruction.png
/out.log
/out.log.*